.header {
    height: 60px;
    background-color: var(--primary-clr);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    z-index: 10;
}

.header-option {
    display: flex;
}

.header-option-item {
    display: flex;
    align-items: center;
    align-items: center;
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
    transition: all 0.5s ease;

   

    span {
        font-size: 16px;
        margin-left: 8px;
        text-transform: uppercase;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;       
            color: blue;
        }
    }
}

.noti-wrap{

    position: relative;
}
.number-of-notifications{
    padding: 1px 7px;
    border-radius: 50%;
    border: 0.1px white solid;
    background-color: red;
    color: white;
    position: absolute;
    top:-10px;
    left:0;
}
.notification{
    border: 0.5px solid #321333;
    position: absolute;
    width: 400px;
    border-radius: 3px;
    height: 500px;
    top: 20px;
    left: -300px;
    background-color: #fff;
}
.wrap-item{
    display: block;
    border: 0.1px solid #eee;
    flex-direction: row;
    padding: 3px;
    padding-left: 10px;
    margin-bottom: 3px;
    cursor: pointer;
}
.noti-item{
    color: black;
    padding: 3px;
    margin: 1px;
}


.wrap-account{
    padding: 3px;
    border: black solid 1px;
    border-radius: 3px;
    width: 150px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:20px;
    left: -150px;
}
.item-account{
    padding: 5px ;
    font-weight: 600;
    &:hover{
        color: blue;
        cursor: pointer;
    }
}