.header {
    height: 60px;
    background-color: var(--primary-clr);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    z-index: 10;
}

.header-option {
    display: flex;
}

.header-option-item {
    display: flex;
    align-items: center;
    align-items: center;
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
        transform: scale(1.1);
    }

    span {
        font-size: 16px;
        margin-left: 8px;
        text-transform: uppercase;
    }
}