.Home {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 991.98px) {
    .Home {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.wrap {
    width: 100%;
    height: 100%;
}
.home-content {
    flex: 6;
}

.home-order {
    flex: 4;
}
